.page-container {
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  padding: 1.25rem 1.75rem 1.5rem;
  position: relative;
}

.page-container-full-width {
  padding-left: 0;
  padding-right: 0;
}

.page-container-fw {
  @extend .page-container;
  padding-left: 0;
  padding-right: 0;
}
